In [11]:
import pandas as pd

In [12]:
#importing the CSV file into a DataFrame using Pandas
csv_file = pd.read_csv("winedata.csv")
csv_file.head(1)

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

In [13]:
#parsing out a year from the title & adding a new column consisting of years. 
##Refer back to "parsing_year" Jupyter Notebook file to see the vertification for this process.

title_list = [title for title in csv_file["title"]]

def hasNumbers(inputString):
    return any(char.isdigit() for char in inputString) 

counter = 0
year_list = []
multiple_numbers_list = []
none_years_list = []
no_numbers_list = []

for title in title_list:
    title_strings_list = []
    title_numbers_list = []
    year_numbers_list = []
    for x in title.split():
        title_strings_list.append(x)
    if hasNumbers(title_strings_list) == True:
        for y in title_strings_list:
            if y.isdigit():
                title_numbers_list.append(int(y))
        year_numbers_list = [i for i in title_numbers_list if 1970 < i < 2019]
        if len(year_numbers_list) >= 1:
            year_list.append(year_numbers_list[0]) #All but one titles have the Year listed first. 
        #elif len(year_numbers_list) > 1:
            #multiple_numbers_list.append(counter)
        elif len(year_numbers_list) == 0:
            year_list.append("N/A")
    if hasNumbers(title_strings_list) == False:
        year_list.append("N/A")
    counter = counter + 1

year_list[102843] = 2000 #this one Title is an exception, refer back to "parsing_year" file for more info

In [14]:
#adding the new list to the existing DataFrame. 

csv_file["year"] = year_list
csv_file_with_year = csv_file
print(f'Total number of wine review is: {len(csv_file_with_year["title"])}.')
csv_file_with_year.head(1)

Total number of wine review is: 129971.

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,year
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,2013

In [20]:
#cleaning data
#1. Renaming the columns

df = csv_file_with_year.rename(columns={"Unnamed: 0": "Index", "country": "Country", "description":"Description",
                                       "designation": "Designation", "points":"Grade", "province": "Province",
                                        "taster_name": "Taster", "taster_twitter_handle": "Taster_Twitter",
                                        "title": "Title", "variety": "Variety", "winery": "Winery", "year":"Year",
                                        "price": "Price"
                                       })
#1. Dropping designation, region_1, and region_2
df = df[["Index", "Title", "Variety", "Year", "Price", "Grade", "Winery", "Province", "Country", 
         "Taster", "Taster_Twitter", "Description"]]
#df.head(3)

#2. Removing all wines that do not have year assigned
df = df.loc[df["Year"]!= "N/A"]
#print(len(df["Year"]))

#3. Removing all wines that do not have Price tags
df = df.fillna("N/A")
df = df.loc[df["Price"] != "N/A"]
print(f'Total Number of Wine Reviews for dataframe with empty Price and year removed is: {len(df["Index"])}.')

#4. Removing Duplicates, if the same Taster reviewed the same wine more than once
df_duplicates_dropped = df.drop_duplicates(subset=["Title", "Price", "Grade", "Taster", "Description"], keep='first', inplace=False)
print(f'Total Number of Wine Reviews for dataframe after duplicates removed is: {len(df_duplicates_dropped["Index"])}.')
df_duplicates_dropped.head(1)

Total Number of Wine Reviews for dataframe with empty Price and year removed is: 116802.
Total Number of Wine Reviews for dataframe after duplicates removed is: 107734.

,Index,Title,Variety,Year,Price,Grade,Winery,Province,Country,Taster,Taster_Twitter,Description
1,1,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,2011,15,87,Quinta dos Avidagos,Douro,Portugal,Roger Voss,@vossroger,"This is ripe and fruity, a wine that is smooth..."

In [23]:
#Exporting to a CSV file
new_df = df_duplicates_dropped

new_df.to_csv("winedata_edited.csv")